<template>
  <div class="collapse" v-bind:class="{'collapse-open':isOpen}">
    <slot />
  </div>
</template>

<script>
export default {
  name: "Collapse",
  props: {
    isOpen: Boolean,
    toggle: Function
  }
};
</script>

<style>
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: 0.7s linear;
}
.collapse-open {
  max-height: 15em;
}
</style>