<template>
  <div class="container" v-bind:class="{'fluid':fluid}">
    <slot />
  </div>
</template>

<script>
export default {
  name: "Container",
  props: {
    fluid: Boolean
  }
};
</script>

<style>
div.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media only screen and (min-width: 600px) {
  div.container {
    max-width: 75%;
  }

  div.container.fluid {
    max-width: 90%;
  }
}
</style>