<template>
  <Container fluid id="cont">
    <Request v-bind:request="request" />
  </Container>
</template>

<script>
import { Container } from "@/components/Boxes";
import Request from "@/components/request/Request";
export default {
  name: "Dashboard",
  components: {
    Container,
    Request
  },
  data() {
    return {
      request: {
        q_pos: 100,
        details: {
          pokemon: {
            name: "Pikachu"
          }
        }
      }
    };
  }
};
</script>

<style scoped>
#cont {
  margin-top: 5px;
  display: grid;
}
</style>