<template>
  <div class="home">
    <Container id="outer_grid">
      <header>
        <h1>Welcome to Chiwii's Daycare</h1>
        <h4>
          <i>
            A modest daycare which strives to
            offer the best service possible!
          </i>
        </h4>
      </header>

      <div id="par1">
        <h3>How Does It Work?</h3>
        <p>
          Sending a service request is easy! We only need
          3 details: the pokemon, the service, & the goal.
          We take care of the rest.
        </p>
      </div>

      <div id="par2">
        <h3>How Can I Trust It?</h3>
        <p>
          We take screenshots of every trade and give you
          a copy. If you have your pokemon stolen, let
          any Co-Owner know in the
          <a
            href="TODO DISCORD LINK"
          >Discord</a>
          and actions will be taken immediatly!
        </p>
      </div>
    </Container>
  </div>
</template>

<script>
import { Container } from "@/components/Boxes";
export default {
  name: "home",
  components: { Container }
};
</script>

<style scoped>
.home {
  overflow-y: auto;
}

#outer_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "snippit_1"
    "snippit_2"
    "snippit_3"
    "signup";
  grid-row-gap: 1em;
  text-align: center;
}

header {
  grid-area: header;
}

#par1 {
  grid-area: snippit_1;
}

#par2 {
  grid-area: snippit_2;
}

@media only screen and (min-width: 600px) {
  #outer_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "snippit_1 snippit_2"
      "snippit_3 snippit_3"
      "signup signup";
    grid-row-gap: 1em;
    text-align: center;
  }
}
</style>