<template>
  <footer>
    <div class="footer-container">
      <a href="https://gitlab.com/JonoAugustine/chiwii-daycare">Open Sourced By Jono Augustine</a>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
footer {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  color: white;
  background-color: #1f1f23;
  border-top: 1px solid slategray;
  font-size: 0.8em;
}

.footer-container {
  width: 80%;
  max-width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.1em 0;
  margin: auto;
  text-align: center;
}

footer a {
  color: white;
  padding-right: 10px;
  text-decoration: none;
}

footer a:hover {
  color: red;
}
</style>