<template>
  <nav class="navbar" v-bind:class="{'navbar-full':(open == 1), 'navbar-closed':(open == 2) }">
    <div class="navbar-container">
      <div class="navbar-brand">Chiwii's Daycare</div>
      <div class="nav-menu">
        <router-link to="/">Home</router-link>
        <router-link to="/dashboard">Dashboard</router-link>
        <router-link to="/account">Account</router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  props: {
    open: Number
  }
};
</script>

<style scoped>
.navbar {
  width: 100%;
  min-height: 50px;
  top: 0;
  left: 0;
  color: white;
  background-color: #1f1f23;
  border-bottom: 2px solid green;
}

.navbar-full {
  border-bottom: 2px solid orange;
}
.navbar-closed {
  border-bottom: 2px solid red;
}

.navbar-container {
  width: 80%;
  max-width: 80%;
  min-height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.1em 0;
  margin: auto;
  text-align: center;
}

.navbar .navbar-brand {
  font-size: 2em;
}

.navbar .nav-menu {
  margin: auto 0;
  height: 100%;
}

@media only screen and (min-width: 800px) {
  .navbar .navbar-brand {
    position: absolute;
    left: 0;
  }

  .navbar .nav-menu {
    margin: auto;
    max-width: 80%;
  }
}

.navbar a {
  color: white;
  padding-right: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}
</style>