<template>
  <div class="request-box" v-on:click="toggle">
    <div class="poke-name">{{ request.details.pokemon.name }}</div>
    <div class="req-type">{{ "spread" in request.details ? "EV" : "level" }}</div>
    <div class="q-pos">Q.Pos: {{ request.q_pos ? request.q_pos : '?' }}</div>
    <Collapse v-bind:isOpen="isOpen" v-bind:toggle="toggle">COLLAPSE</Collapse>
  </div>
</template>

<script>
import { Collapse } from "@/components/Boxes";
export default {
  name: "Request",
  components: {
    Collapse
  },
  props: {
    request: Object
  },
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    }
  }
};
</script>

<style scoped>
.request-box {
  min-width: 100%;
  min-height: 30px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "poke type qPos";

  border: 1px solid steelblue;
}

.poke-name {
  text-align: left;
  grid-area: poke;
}

.req-type {
  text-align: center;
  grid-area: type;
}

.q-pos {
  text-align: right;
  grid-area: qPos;
}
</style>