<template>
  <div id="app">
    <Navbar v-bind:open="open" />
    <div id="app-view">
      <router-view />
    </div>
    <Footer />
  </div>
</template>

<style>
/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: white;
  background-color: #1b1b1b;
}

html,
body,
#app {
  height: 100% !important;
  min-height: 50% !important;
}

#app-view {
  min-height: 100%;
  margin-bottom: 30px;
}

a {
  color: white;
}
</style>

<script>
import Navbar from "@/components/Navbar";
import Footer from "@/components/Footer";
export default {
  name: "app",
  components: {
    Navbar,
    Footer
  },
  data: () => {
    return {
      open: 0
    };
  }
};
</script>